POSTGRES_USER=abdul
POSTGRES_PASSWORD=ryzenpro
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_NAME=dvdrental

DOWNLOAD_URL=https://example.com/dvdrental.zip

ZIP_PATH=/tmp/dvdrental.zip
TAR_PATH=/tmp/dvdrental/dvdrental.tar
EXTRACT_DIR=/tmp/dvdrental
